<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.pioneer.carsync">

    <!-- 通信ログをDownloadディレクトリに出力するので必要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- ADAS実装に使用(v1.1向け) -->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->


</manifest>